[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
	
[submodule "alist"]
	path = alist
	url = https://github.com/sbwml/luci-app-alist.git
